*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

/bin/
/build/
/dist/
*.log

vendor/

.idea/
.vscode/
*.swp
*.swo
*.bak

# OS files
.DS_Store
Thumbs.db

go.sum

.env
.env.*.local
*.local

coverage.out

*.db
*.sqlite
*.sqlite3
*.log
/tmp

*.pid
*.sock

go.work
go.work.sum